<h2>Create your profile</h2>

<%= form_with model: @profile, data:{turbo:false} do |f| %>
<div class="actions mt-3">
<%= f.text_field :first_name, placeholder:'First Name' %>
</div>

<div class="actions mt-3">
<%= f.text_field :last_name, placeholder:'Last Name' %>
</div>

<div class="actions mt-3">
<%= f.date_field :date_of_birth %>
</div>

<div class="actions mt-3">
 <%= f.file_field :avatar, class:'form-control mt-2', type:'file', id:'formFile' %>
</div>

<%= f.hidden_field :user_id, value: @id %>

<div class='mt-2'>
    <%= f.fields_for :address do |f| %>
        <%= f.text_field :street_number, placeholder:'Street no.' %>
        <%= f.text_field :street_name, placeholder:'Street name/type' %>
        <%= f.text_field :city, placeholder:'City/Suburb' %>
        <%= f.text_field :state, placeholder:'State' %>
        <%= f.number_field :postcode, placeholder:'Post Code' %>
        <%= f.text_field :country, placeholder:'Country' %>
        <%end%>
  </div>
  <div>
    <%= f.submit class:'mt-2' %>
</div>
<% end %>

