<h2>Create your profile</h2>

<%= form_with model: @profile, data:{turbo:false} do |form| %>
<div class="actions">
<%= form.label :first_name %>
<%= form.text_field :first_name %>
</div>

<div class="actions">
<%= form.label :last_name %>
<%= form.text_field :last_name %>
</div>

<div class="actions">
<%= form.label :date_of_birth %>
<%= form.date_field :date_of_birth %>
</div>

<%= form.hidden_field :user_id, value: @id %>

<div>
    <%= form.fields_for :address do |addresses_form| %>
        <%= addresses_form.label :street_number %>
        <%= addresses_form.text_field :street_number %>

        <%= addresses_form.label :street_name %>
        <%= addresses_form.text_field :street_name %>

        <%= addresses_form.label :city %>
        <%= addresses_form.text_field :city %>

        <%= addresses_form.label :state %>
        <%= addresses_form.text_field :state %>

        <%= addresses_form.label :postcode %>
        <%= addresses_form.number_field :postcode %>

        <%= addresses_form.label :country %>
        <%= addresses_form.text_field :country %>
        <%end%>
  </div>
  <div>
    <%= form.submit %>
</div>
<% end %>

