<h2>Create your profile</h2>

<%= form_with model: @profile, data:{turbo:false} do |f| %>
<div class="actions">
<%= f.label :first_name %>
<%= f.text_field :first_name %>
</div>

<div class="actions">
<%= f.label :last_name %>
<%= f.text_field :last_name %>
</div>

<div class="actions">
<%= f.label :date_of_birth %>
<%= f.date_field :date_of_birth %>
</div>

<div class="actions">
<%= f.label :avatar %>
 <%= f.file_field :avatar %>
</div>

<%= f.hidden_field :user_id, value: @id %>

<div>
    <%= f.fields_for :address do |f| %>
        <%= f.label :street_number %>
        <%= f.text_field :street_number %>

        <%= f.label :street_name %>
        <%= f.text_field :street_name %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.label :state %>
        <%= f.text_field :state %>

        <%= f.label :postcode %>
        <%= f.number_field :postcode %>

        <%= f.label :country %>
        <%= f.text_field :country %>
        <%end%>
  </div>
  <div>
    <%= f.submit %>
</div>
<% end %>

