<h1> <%= @profile.first_name%> <%= @profile.last_name %> </h1>

<%= cl_image_tag @profile.avatar.key , crop:'scale', width: 300, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'] %>

<p> Email: <%= @user.email %> </p>
<p> Date Of Birth: <%= @profile.date_of_birth %> </p>
<p> Address: <%= @profile.address.street_number %> <%= @profile.address.street_name %> <%= @profile.address.city %> <%= @profile.address.state %> <%= @profile.address.postcode %> <%= @profile.address.country %> </p>

<%= link_to 'Edit', edit_profile_path %>