<h2>Create your listing</h2>

<%= form_with model: @listing, data:{turbo:false} do |f| %>
<%= f.hidden_field :profile_id, value: @profile_id %>

<h3>Car</h3>
<div>
    <%= f.fields_for :car do |f| %>
        <%= f.label :make %>
        <%= f.text_field :make %>

        <%= f.label :model %>
        <%= f.text_field :model %>
        <%end%>
  </div>
  
  <h3>Details</h3>
<div class="actions">
<%= f.label :year %>
<%= f.number_field :year %>
</div>

<div class="actions">
<%= f.label :color %>
<%= f.text_field :color %>
</div>

<div class="actions">
<%= f.label :price %>
<%= f.number_field :price %>
</div>

<div class="actions">
<%= f.label :description %>
<%= f.text_area :description %>
</div>

<h3>Modifications</h3>

<% @mod_types.each do |type| %>
<h5> <%= type %> </h5>
    <%= f.fields_for :modifications do |f| %>
        <%= f.hidden_field :modification_type, value: type %>
        <%= f.text_field :name %>
    <%end%>
<% end %>

<h5>Car Images</h5>
    <%= f.file_field :car_images, multiple: true %>
    <br> <br>
  </div>
  <div>
    <%= f.submit %>
</div>
<% end %>