<%= form_with model: @listing, data:{turbo:false} do |f| %>
<%= f.hidden_field :profile_id, value: @profile_id %>

<h3>Car</h3>
<div>
    <%= f.fields_for :car do |f| %>
        <%= f.text_field :make, placeholder: "Make" %>
        <%= f.text_field :model, placeholder: "Model" %>
        <%end%>
  </div>
  
  <h3>Details</h3>
<div class="actions mt-2">
<%= f.number_field :year, placeholder: "Year" %>
</div>

<div class="actions mt-2">
<%= f.text_field :color, placeholder: "Color" %>
</div>

<div class="actions mt-2">
<%= f.number_field :price, placeholder: "Price" %>
</div>

<div class="actions mt-2" id='description-div'>
<%= f.text_area :description, placeholder: "Description" %>
</div>

<h3>Modifications</h3>

<% @mod_types.each do |type| %>
<h5> <%= type %> </h5>
<% if @listing.year != nil%>
    <%= f.fields_for :modifications, @listing.modifications.where(modification_type:type) do |f| %>
        <%= f.hidden_field :modification_type, value: type %>
        <%= f.text_field :name %>
    <%end%>
    <% else %>
    <%= f.fields_for :modifications do |f| %>
        <%= f.hidden_field :modification_type, value: type %>
        <%= f.text_field :name %>
    <%end%>
    <%end%>
<% end %>

<h5 class='mt-3'>Car Images</h5>
    <%= f.file_field :car_images, multiple: true, class:'form-control mt-2', type:'file', id:'formFile' %>
    <br> <br>
  </div>
  <div>
    <%= f.submit class: 'btn btn-primary'%>
</div>
<% end %>