<h1> Listings </h1>

<%= search_form_for(@q, url: listings_admin_path , method: :get) do |f| %>
  <%= f.label :make %>
  <%= f.select(:car_make_eq, Car.all.collect {|car| [car.make, car.make]}, include_blank: "ALL") %>
  <%= f.label :make %>
  <%= f.select(:car_model_eq, Car.all.collect {|car| [car.model, car.model]}, include_blank: "ALL") %>
  <%= f.label :year_from %>
  <%= f.search_field(:year_gteq_any) %>
  <%= f.label :year_to %>
  <%= f.search_field(:year_lteq_any) %>
  <%= f.label :color %>
  <%= f.select(:color_eq, Listing.all.collect {|listing| [listing.color, listing.color]}, include_blank: "ALL") %>
  <%= f.label :mod %>
  <%= f.select(:modifications_name_eq, @mod_names.collect {|mod| [mod, mod]}, include_blank: "ALL") %>
  <%= f.submit "Search" %>
<% end %>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Year</th>
      <th scope="col">Price</th>
      <th scope="col">Created By</th>
      <th scope="col">Created</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
<% @listings.each do |listing| %>
    <tr>
      <td> <%= listing.id %> </td>
      <td> <%= listing.car.make %> </td>
      <td> <%= listing.car.model %> </td>
      <td> <%= listing.year %> </td>
      <td>$<%= listing.price / 100 %> </td>
      <td> <%= listing.profile_id %> </td>
      <td> <%= listing.created_at %> </td>
      <td> <%= listing.updated_at %> </td>
      <td> <%= link_to 'View Record', listing %> </td>
    </tr>
<% end %>
  </tbody>
</table>