<h1> <%= @listing.year%> <%= @listing.car.make %> <%= @listing.car.model %> </h1>

<%= cl_image_tag @listing.car_images.key , crop:'scale', width: 500, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'] %>

<h3>$<%= @listing.price / 100%> </h3>

<h3>Description</h3>

<%= @listing.description %>

<h3>Modifications</h3>

<% @mod_types.each do |type| %>
<h4> <%=type%> </h4>
 <% mods = return_mods(type) %> 
<%mods.each do |mod|%>
<div> <%= mod.name %>  </div>
<% end %>
<% end %>

