<h1> <%= @listing.year%> <%= @listing.car.make %> <%= @listing.car.model %> </h1>

  <div class="row align-items-center">
<% @listing.car_images_attachments.each do |image| %>
<div class="col-md">
    <%= cl_image_tag image.key , crop:'scale', :background=>"white", :width=>600, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class:"img-fluid" %>
    </div>
<%end%>
</div>
</div>

<section class="mt-3 d-flex justify-content-center flex-column align-items-center">
<h1>$<%= @listing.price %> </h1>

<h3 class="mt-3">Description</h3>

<%= @listing.description %>

<h3 class="mt-3">Colour</h3>

<%= @listing.color.capitalize %>

<h3 class="mt-3">Modifications</h3>

<% @mod_types.each do |type| %>
    <%if return_mods(type)[0] && return_mods(type)[0].name != ""%>
        <h4 class="mt-4"> <%=type.capitalize%> </h4>
        <% mods = return_mods(type) %> 
        <ul class="list-inline mx-auto justify-content-center w-75">
        <%mods.each do |mod|%>
            <li class="list-group-item text-center "> <%= mod.name.capitalize %>  </li>
        <% end %>
        </ul>
    <% end %>
<% end %>

<% if current_user && current_user.profile.id != @listing.profile.id %>
    <h3 class="mt-3">Contact Seller</h3>
    <%= @listing.profile.first_name %> <%= @listing.profile.last_name %>, <%= @listing.profile.user.email %>
    <span class="d-block"> <%= @listing.profile.address.city %> <%= @listing.profile.address.postcode %> </span>
    </section>
    <div class='mt-3 d-flex justify-content-center flex-column align-items-center'>
    <%= button_to 'Add to your watch list', watchlist_path, method: :post, params: {listing_id: @listing.id, profile_id: current_user.profile.id}, class:'btn btn-info mt-1' %>
    <%= button_to 'Make an enquiry', chats_path(buyer_id: current_user.profile.id, seller_id: @listing.profile_id, listing_id: @listing.id ),method: :post, class:'btn btn-success mt-1' %>
    </div>
<% else %>
    <h3> <%= current_user ? '' : 'Log in to contact seller' %> </h3>
<% end %>

<% if policy(@listing).edit_or_destroy?  %>
    <div class="btn-toolbar mb-1 mt-2" role="toolbar" aria-label="Toolbar with button groups">
    <%= link_to "Edit", edit_listing_path, class:"btn btn-warning" %>
    <%= button_to('Delete', @listing, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete your listing?" }}, class: "btn btn-danger ms-3") %>
    </div>
<% end %>