<h1> <%= @listing.year%> <%= @listing.car.make %> <%= @listing.car.model %> </h1>

<% @images.each do |image| %>
    <%= cl_image_tag image.key , crop:'scale', width: 500, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'] %>
<%end%>

<h3>$<%= @listing.price / 100%> </h3>

<h3>Description</h3>

<%= @listing.description %>

<h3>Modifications</h3>

<% @mod_types.each do |type| %>
<h4> <%=type%> </h4>
 <% mods = return_mods(type) %> 
<%mods.each do |mod|%>
<div> <%= mod.name %>  </div>
<% end %>
<% end %>

<h3>Contact Seller</h3>

<%= @listing.profile.first_name %> <%= @listing.profile.last_name %>, <%= @listing.profile.user.email %>

<%= link_to "Edit", edit_listing_path %>
<%= button_to('Delete', @listing, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete your listing?" }}, class: "btn btn-danger") %>