<h1>Enquiries</h1>

<% if @enquries_recieved != [] %>
<h4>Recieved enquiries</h4>
  <div class="row">
  <% @enquries_recieved.each do |chat| %>
    <div class="col-sm-6 mt-3">
      <div class="card">
      <%= cl_image_tag chat.listing.car_images_attachments.first.key , :background=>"white", :height=>1000, :width=>1500, :crop=>"pad", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class:"img-fluid center-block d-block mx-auto" %>
        <div class="card-body">
          <h5 class="card-text text-center"><%= chat.messages.last.profile.first_name %>:</h5>
          <h4 class="card-text text-center"><%= chat.messages.last.content %></h4>
          <h6 class="card-text text-center"><%= distance_of_time_in_words(chat.messages.last.created_at, Time.now, include_seconds: true) %> ago</h6>
          <ul class="list-group list-group-flush">
      <li class="list-group-item text-center"><%= chat.offer == 0 ? "No offer" : "Current offer: $#{chat.offer / 100}" %></li>
      <li class="list-group-item text-center"><%= chat.listing.profile.address.state %> <%= chat.listing.profile.address.postcode %></li>
      <li class="list-group-item text-center"><%= link_to "View messages", chat, class:"btn btn-info" %></li>
    </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @enquries_made != [] %>
<h4>Sent enquiries</h4>
  <div class="row">
  <% @enquries_made.each do |chat| %>
    <div class="col-sm-6 mt-3">
      <div class="card">
      <%= cl_image_tag chat.listing.car_images_attachments.first.key , :background=>"white", :height=>300, :width=>500, :crop=>"pad", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class:"img-responsive center-block d-block mx-auto" %>
        <div class="card-body">
          <h5 class="card-text text-center"><%= chat.messages.last.profile.first_name %>:</h5>
          <h4 class="card-text text-center"><%= chat.messages.last.content %></h4>
          <h6 class="card-text text-center"><%= distance_of_time_in_words(chat.messages.last.created_at, Time.now, include_seconds: true) %> ago</h6>
          <ul class="list-group list-group-flush">
      <li class="list-group-item text-center"><%= chat.offer == 0 ? "Asking:#{chat.listing.price}" : "Current offer: $#{chat.offer / 100}" %></li>
      <li class="list-group-item text-center"><%= chat.listing.profile.address.state %> <%= chat.listing.profile.address.postcode %></li>
      <li class="list-group-item text-center"><%= link_to "View messages", chat, class:"btn btn-info" %></li>
    </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
