<h1>Chat for <%= @chat.listing.year %> <%= @chat.listing.car.make %> <%= @chat.listing.car.model %></h1>

<%if @chat.messages == []%>
    <h4>Send an enquiry</h4>
<% else %>
<div class="w-50">
    <% @chat.messages.each do |message| %>
    <div class='d-flex mt-4'>
    <h5 class="me-auto"><%= message.profile.first_name %> <%= message.profile.last_name %></h5> 
    <div><%= message.created_at.strftime("%a, %B %d %T") %></div>
    </div>
    <div class='bg-light bg-gradient'>
    <p><%= message.content %> <%= cl_image_tag message.message_attachment.key , :height=>199, :crop=>"fill", cloud_name: ENV['CLOUDINARY_CLOUD_NAME'] if message.message_attachment.attached? %> </p>
    </div>
    <% end %>
</div>
<% end %>

<%= render 'message' %>