<!DOCTYPE html>
<html>
  <head>
    <title>Modified Rides</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
  </head>
  <body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Modified Rides</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <%if user_signed_in? && current_user.profile %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to 'Enquiries', chats_path, class: 'nav-link d-inline' %>
              <%= link_to 'Orders', '/purhcases/myorders', class: 'nav-link d-inline' %>
            </li>
          </ul>
          <% end %>
            <%if user_signed_in? %>
              <%if current_user.profile %>
                Welcome <%= link_to current_user.profile.first_name, "/profiles/#{current_user.profile.id}", class: 'nav-link' %>
                <% else %>
                Welcome <%= current_user.email %>
                <% end %>
              <div class="btn-toolbar mb-1 mt-2" role="toolbar" aria-label="Toolbar with button groups">
                <%= link_to "Admin", admin_path, class:"btn btn-success me-3" if current_user.has_role? :admin %>
                <%= button_to 'Logout', destroy_user_session_path, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to log out?" } } %>
              </span>
              <%else%>
              <span>
                <%= link_to 'Sign-Up', new_user_registration_path, class: 'btn btn-info' %>
                <%= link_to 'Sign-in', new_user_session_path, class: 'btn btn-info' %>
              </span>
            <%end%>
        </div>
      </div>
    </nav>
<main class=p-4>
  <% if notice %>
  <p class="alert alert-success"><%= notice.html_safe %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert.html_safe %></p>
<% end %>
    <%= yield %>
    </main>
  </body>
</html>
