<!DOCTYPE html>
<html>
  <head>
    <title>CarMarketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class=p-4>
  <% if notice %>
  <p class="alert alert-success"><%= notice.html_safe %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert.html_safe %></p>
<% end %>
    <%= yield %>
  </body>
</html>
